body{
    padding: 0%;
    margin: 0%;
}
.logo img{
    margin-top: 10px;
    display: flex;
   
    margin-left: 20%;
    margin-bottom: 10px;

}
a{
    text-decoration: none   ;
}


li{
    list-style: none;
   
}
ul {
    padding: 0%;
    margin: 0%;
}
.Navigation{
    display: flex;
    justify-content: center;
    align-items:center; 
    padding: 10px;
    padding-right: 1%;
    gap: 60px;
    height: 10%;
    background-color: #1fc81f;;
   
}

